*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body{
    background: #eee;
}
.globalHeader{
    margin: 20px;
}

@media (min-width: 500px) {
    .globalHeader {
      margin: 60px 0 100px;
    }
}

.searchForm{
    display: flex;
    justify-content: space-between;
}

/*媒体查询，大于500px的时候适用（PC端）*/
@media (min-width: 500px) {
    .searchForm {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
}

.searchForm input{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-right: 10px;
    padding: 0 10px;
}
.searchForm button{
    white-space: nowrap;
    padding: 0 28px;
    border: none;
    border-radius: 4px;
    background: #2D9CDB;
    font-size: 16px;
    color: #FFF;
}
.globalMain{
    max-width: 900px;
    margin: auto;
    padding: auto;
}

.siteList{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .siteList {
      margin-left: 0;
      margin-right: -25px;
      justify-content: flex-start;
    }
}


.siteList>li{
    margin-bottom: 10px;
}

@media (min-width: 500px) {
    .siteList > li {
      margin-right: 25px;
    }
}


.siteList .site{
    border: 1px solid #ddd;
    background: #fff;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
}
.siteList .site .logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase; /*保证logo为大写*/
  }
.siteList .site .link {
    font-size: 14px;
    margin-top: 4px;
  }
.siteList .addButton{
    border: 1px solid #ddd;
    background: #fff;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 20px 0;
}
.siteList .addButton .icon{
    width: 56px;
    height: 56px;
}
.siteList .addButton .text{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton .icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList .site > .close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: default;
}

@media (min-width: 500px) {
    .siteList .site > .close{
        display: none;
    }
    .siteList .site:hover > .close {
        display: block;
    }
}